.getToknowMain {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 69px;
}
.getToknowRow {
  padding: 120px 80px;
  gap: 20px;
}

.getToknowMainSuper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 0px;
}
.heroMain {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.getToknow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;

  & h5 {
    color: var(--Foundation-Black-Dark, #1d242d);

    /* Heading/H1/Semi Bold */
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 116.667% */
    letter-spacing: -1.92px;
  }

  & p {
    color: var(--Foundation-Black-Normal, #546881);

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}
.Steps {
  margin: 0px -20px 60px -20px;
}
.Percentage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  & h5 {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
    line-height: 28px; /* 121.739% */
    letter-spacing: -0.46px;
  }

  & p {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 121.739% */
    letter-spacing: -0.46px;
  }
}

.barBody {
  width: 100%;
  height: 7px;
  flex-shrink: 0;
  border-radius: 50px;
  background: var(--Foundation-Primary-Light, #e7f9f0);

  & span {
    display: flex;
    width: 90%;
    height: 7px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--Foundation-Primary-Normal, #0bc36b);
    margin: 0px;
  }
}

.percentageMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ShortAndLongMain {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  & div {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & h3 {
      color: #000;

      /* Subheading/Regular */
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 140% */
      margin: 0px;
    }

    & p {
      color: var(--Foundation-Black-Dark, #1d242d);

      /* Paragraph/P2/Regular */
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      margin: 0px;
    }
  }
}

.WhyChoosexactlane {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: var(--Foundation-text-Dark, #0a0a0a);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: end; */

  & div {
    display: flex;
    width: 100%;
    padding: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;

    & h3 {
      color: var(--Foundation-Surface-White, #fff);

      /* Heading/H1/Semi Bold */
      font-family: Playfair Display;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px; /* 116.667% */
      letter-spacing: -1.92px;
      margin: 0px;

      & span {
        color: var(--Foundation-Primary-Normal, #0bc36b);

        /* Heading/H1/Semi Bold */
        font-family: Playfair Display;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -1.92px;
      }
    }

    & p {
      color: var(--Foundation-Surface-White, #fff);

      /* Paragraph/P2/Regular */
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 150% */
      margin: 0px;
    }
  }
}

.WhyChoosexactlaneImage {
  height: 100%;
  width: 135%;
  margin-left: -120px;
}
.XactLaneWorks {
  /* height: 150vh; */
  background-size: 100% 100%;
  display: flex;
  gap: 120px;
  /* width: 80%; */
}

.XactLaneWorksMain {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 40px 0px;
}

.XactlaneNumbers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Services2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  & h1 {
    margin: 0px;
    color: var(--Foundation-Black-Dark, #1d242d);
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.92px;
    & span {
      margin: 0px;

      color: var(--Foundation-Primary-Dark, #089250);
      font-family: Playfair Display;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -1.92px;
    }
  }

  & p {
    margin: 0px;

    color: var(--Foundation-Black-Normal, #546881);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 150% */
    margin: 0px;
  }
}

.XactlaneNumbersSingle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  & h5 {
    color: var(--Foundation-Black-Dark, #1d242d);
    font-family: Playfair Display;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    & h4 {
      color: #000;

      /* Subheading/Regular */
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 140% */
      margin: 0px;
    }

    & p {
      color: var(--Foundation-Black-Dark, #1d242d);
      text-align: center;

      /* Paragraph/P2/Regular */
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 150% */
      margin: 0px;
    }
  }
}

.OurAdvantageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 40%;
  & h1 {
    color: var(--Foundation-Surface-White, #fff);
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.92px;
  }

  & p {
    color: var(--Foundation-Surface-White, #fff);
    text-align: center;

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

.ourAdvantageListing {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 20px;
}

.ourAdvantageListingHeading {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid var(--Foundation-Primary-Darker, #044425);

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    & h6 {
      color: var(--white, #fff);
      font-family: Raleway;
      font-size: 16px;

      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0px;
    }
  }

  & p {
    color: var(--white, #fff);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 150% */
    margin: 0px;
  }
}

.ourAdvantageListingLeft {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.ourAdvantageListingSolo {
  display: flex;
  padding: 16px 0px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid var(--Foundation-Primary-Darker, #044425);

  & p {
    color: var(--white, #fff);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
  }
}

.TheBestCarImg {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}

.bestcartextMain {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 20px;
  gap: 24px;

  & h3 {
    color: var(--Foundation-Black-Dark, #1d242d);

    /* Heading/H1/Semi Bold */
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 116.667% */
    letter-spacing: -1.92px;
  }
}

.OurMission {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  & h4 {
    color: #000;

    /* Subheading/Regular */
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    margin: 0px;
  }

  & p {
    color: var(--Foundation-Black-Normal, #546881);
    text-align: justify;

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 150% */
    opacity: 0.6;
    margin: 0px;
  }
}

.OurCustomerMain {
  display: flex !important;
  justify-content: center;
  gap: 40px;
  margin: 80px 0px !important;
}

.OurCustomerLeft {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;

  & h1 {
    color: var(--Foundation-Black-Dark, #1d242d);
    font-family: Playfair Display;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.92px;
    align-self: stretch;
    margin: 0px;
  }

  & p {
    color: var(--Foundation-Black-Normal, #546881);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0px;
  }
}

.Slider {
  height: 200px !important;
}

.Headphone {
  width: 50px;
  height: 57px;
}

.CustomerMainBox {
  display: flex;
  width: 98%;
  position: relative;
  margin-top: 20px;
  height: 86%;
  padding: 20px 24px;
  align-items: center;
  gap: 24px !important;
  border-radius: 8px;
  background: var(--Foundation-text-Normal, #1c1c1c);
  /* background: #f2f2f2; */

  /* card-drop-2 */
  /* box-shadow: 20px 14px 40px 0px rgba(0, 0, 0, 0.08); */
}
.soloCustomer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  margin-left: 110px;
  & p {
    margin: 0px;
    color: #fff;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
    align-self: stretch;
  }
}

.Rating {
  color: var(--Foundation-Surface-White, #fff);
  font-family: Lato;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 100% */
}

.CustomerName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  & h5 {
    margin: 0px;
    color: var(--Foundation-Surface-White, #fff);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px; /* 121.429% */
  }

  & p {
    color: var(--Foundation-Surface-White, #fff);
    font-family: Lato;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px; /* 100% */
  }
}

.CustomerImage {
  width: 114px;
  height: 180px;
  position: absolute;
  left: 15px;
  top: -20.5px;
  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;
}

.CallUsFor {
  width: 100%;
  height: 100vh;
  background: linear-gradient(17deg, #000 9.13%, rgba(0, 0, 0, 0) 79.81%), ,
    lightgray 0px -1212.661px / 100% 339.225% no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
}

.callUsFurther {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 40px 60px;
  gap: 20px;

  & h5 {
    color: var(--Foundation-Surface-White, #fff);

    /* Heading/H1/Semi Bold */
    font-family: Playfair Display;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 116.667% */
    letter-spacing: -1.92px;
  }
}

.CallNumber {
  display: flex;
  /* justify-content: center; */
  gap: 12px;
  align-items: center;
  & p {
    color: var(--Foundation-Surface-White, #fff);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 116.667% */
    letter-spacing: 5.04px;
  }
}

.SliderMain {
  display: flex;
}

@media screen and (max-width: 1400px) {
  .HowXactlaneWidth {
    width: 80% !important;
  }
}

@media screen and (max-width: 1800px) {
  .HowXactlaneWidth {
    width: 100% !important;
  }
  /* .ourcustomerwidth {
    width: 100%;
  } */
}

@media screen and (max-width: 600px) {
  .getToknowMainSuper {
    width: 100%;
    padding: 100px 0px 30px 0px;
  }
  .getToknow {
    gap: 10px;
    & h5 {
      color: var(--Foundation-Black-Dark, #1d242d);
      margin: 0px;
      /* Heading/H1/Semi Bold */
      font-family: Playfair Display;
      font-size: 34px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 116.667% */
      letter-spacing: -1.92px;
    }

    & p {
      color: var(--Foundation-Black-Normal, #546881);

      /* Paragraph/P2/Regular */
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
  .heroMain {
    gap: 30px;
  }

  .ShortAndLongMain {
    & div {
      & h3 {
        font-size: 16px;
        line-height: 18px; /* 140% */
      }

      & p {
        /* Paragraph/P2/Regular */
        font-size: 12px;
        line-height: 16px; /* 150% */
      }
    }
  }
  .CallUsFor {
    background-size: cover; /* Adjust the background size to cover */
    background-position: center; /* Center the background image */
  }
  .getToknowRow {
    padding: 6px;
    gap: 20px;
  }
  .WhyChoosexactlane {
    & div {
      display: flex;
      width: 100%;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 14px;

      & h3 {
        color: var(--Foundation-Surface-White, #fff);

        /* Heading/H1/Semi Bold */
        font-family: Playfair Display;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px; /* 116.667% */
        letter-spacing: -1.92px;
        margin: 0px;

        & span {
          color: var(--Foundation-Primary-Normal, #0bc36b);

          /* Heading/H1/Semi Bold */
          font-family: Playfair Display;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 56px;
          letter-spacing: -1.92px;
        }
      }

      & p {
        color: var(--Foundation-Surface-White, #fff);

        /* Paragraph/P2/Regular */
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 150% */
        margin: 0px;
      }
    }
  }
  .WhyChoosexactlaneImage {
    display: none;
  }
  .XactLaneWorks {
    width: 100%;
  }
  .Services2 {
    gap: 20px;
    & h1 {
      font-size: 38px;

      line-height: 40px; /* 116.667% */

      & span {
        color: var(--Foundation-Primary-Dark, #089250);
        font-family: Playfair Display;
        font-size: 38px;

        line-height: 40px;
      }
    }

    & p {
      font-size: 14px;
      line-height: 14px; /* 150% */
    }
  }
  .Divider {
    display: none;
  }
  .XactlaneNumbers {
    flex-direction: column;
  }
  .XactlaneNumbersSingle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    & h5 {
      font-size: 50px;
      margin: 0px;
    }

    & div {
      gap: 2px;

      & h4 {
        font-size: 12px;
        line-height: 18px;
      }

      & p {
        font-size: 10px;

        line-height: 20px; /* 150% */
      }
    }
  }
  .XactLaneWorks {
    gap: 60px;
  }

  .OurAdvantageMain {
    width: 100%;
  }
  .ourAdvantageListing {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .OurCustomerMain {
    display: flex !important;
    justify-content: center;
    gap: 40px;
    margin: 0px 0px !important;
    padding: 20px 0px;
  }
  .Slider {
    height: 350px !important;
  }
  .SliderMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .soloCustomer {
    gap: 6px;
    & p {
      font-size: 8px;

      line-height: 12px; /* 121.429% */
    }
  }
  .CustomerImage {
    width: 100px;
    height: 150px;
    position: absolute;
    left: 15px;
    top: -8px;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
  }
  .CustomerMainBox {
    margin-top: 20px;
    height: 130px;
    padding: 10px 24px;

    border-radius: 8px;
  }

  .CustomerName {
    gap: 0px;
  }
  .callUsFurther {
    padding: 20px 4px;
    gap: 20px;

    & h5 {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 116.667% */
      letter-spacing: -1.2px;
    }
  }
  .CallNumber {
    gap: 6px;
    & p {
      color: var(--Foundation-Surface-White, #fff);
      font-family: Lato;
      font-size: 8px;
      font-style: normal;
      font-weight: 700;
      line-height: 14px; /* 116.667% */
      letter-spacing: 5.04px;
    }
  }
  .Headphone {
    width: 30px;
    height: 34px;
  }

  .Services2 {
    width: 100%;

    & h1 {
      font-size: 38px;
      line-height: 36px; /* 116.667% */
    }

    & p {
      color: var(--Foundation-Black-Normal, #546881);
      text-align: center;
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 150% */
      margin: 0px;
    }
  }
}
