.HeroMain {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;

  & h1 {
    color: #fff;
    text-align: center;
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 111.111% */
    letter-spacing: -2.88px;
    margin-bottom: 50px;
    & span {
      color: #0bc36b;
      text-align: center;
      font-family: Playfair Display;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 80px; /* 111.111% */
      letter-spacing: -2.88px;
    }
  }
}

.Sections {
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}
.BookingDeatils {
  width: 70%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  gap: 20px;

  background: #fcfaf4;
  border-radius: 16px;
  margin-top: -120px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.DifferentReturnLocation {
  display: flex;
  gap: 10px;
  align-items: center;

  & p {
    color: #2b3635;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    margin: 0px;
  }
}

.Input {
  display: flex;
  width: 100%;
  border-radius: 10px;
  height: 51.556px;
  padding-right: 0.035px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid gray;
  gap: 10px;
  padding: 10px 20px;
  & input {
    width: 100%;
    background: #fcfaf4;
    border: none;
    outline: none;
  }
  input::placeholder {
    color: #8d8e90;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.AirportTransferMain {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.AirportTransfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 8px;

  & p {
    color: var(--Foundation-Black-Normal, #546881);
    text-align: justify;

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 150% */
    opacity: 0.6;
  }

  & h1 {
    color: var(--Foundation-Black-Normal, #000);
    /* text-align: justify; */

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 44px;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 150% */
  }
}

.Benefits {
}

.BenefitsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.BenefitsMainText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h1 {
    color: var(--Foundation-Black-Dark, #1d242d);

    /* Heading/H1/Semi Bold */
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    /* letter-spacing: 0.2px; */
    margin: 0px;
  }

  & p {
    color: var(--Foundation-Black-Normal, #546881);

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 150% */
    margin: 0px;
    text-align: center;
  }
}

.Headline {
  color: var(--Foundation-Black-Dark, #1d242d);
  text-align: center;

  /* Heading/H1/Semi Bold */
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.92px;
}

.CityMain {
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 50px 80px;

  & h2 {
    color: var(--Foundation-Black-Dark, #1d242d);

    /* Heading/H1/Semi Bold */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0px;

    letter-spacing: -1.92px;
  }

  & span {
    color: var(--Foundation-Black-Normal, #546881);

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 150% */
    margin: 0px;
  }
}

.CityName {
  width: 100%;
  display: flex;

  gap: 10px;
  display: flex;

  align-items: center;

  & h5 {
    color: var(--Foundation-Black-Dark, #1d242d);

    /* Heading/H1/Semi Bold */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 116.667% */
    /* letter-spacing: 0.2px; */
    margin: 0px;
  }
}

.CityNameMain {
  display: flex;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 20px;

  & p {
    margin: 0px;
    color: var(--Foundation-Black-Normal, #546881);

    /* Paragraph/P2/Regular */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 150% */
    margin: 0px;
    /* text-align: center; */
  }

  & h4 {
    margin: 0px;
    color: var(--Foundation-Black-Dark, #1d242d);
    text-align: end;
    /* Heading/H1/Semi Bold */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 116.667% */
    /* letter-spacing: 0.2px; */
    margin: 0px;
  }
}

.ImagesAndText {
  padding: 80px 50px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .ImagesAndText {
    padding: 10px;
  }

  .AirportTransfer {
    gap: 8px;

    & p {
      color: var(--Foundation-Black-Normal, #546881);
      font-size: 14px;
      line-height: 20px; /* 150% */
      opacity: 0.6;
    }

    & h1 {
      font-size: 26px;
      line-height: 20px; /* 150% */
    }
  }

  .CityMain {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 20px;

    & h2 {
      color: var(--Foundation-Black-Dark, #1d242d);

      /* Heading/H1/Semi Bold */
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      margin: 0px;

      letter-spacing: -1.92px;
    }

    & span {
      color: var(--Foundation-Black-Normal, #546881);

      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 150% */
      margin: 0px;
    }
  }

  .Headline {
    font-size: 38px;

    line-height: 30px;
    letter-spacing: -1.92px;
  }
  .BookingDeatils {
    width: 90%;
  }
  .TextContainer {
    margin-top: 40px;

    & h1 {
      font-size: 58px;

      line-height: 20px; /* 111.111% */
      letter-spacing: -0.88px;

      & span {
        font-size: 52px;

        font-weight: 600;
        line-height: 80px; /* 111.111% */
        letter-spacing: -2.88px;
      }
    }
  }
}
