.img-for-slider {
  max-width: 100px;
  height: 200px;
  /* z-index: 10000; */
  padding: 0 15px;
  object-fit: cover;
}

/* img:last-of-type {
    padding-left: 0;
  } */

.inner {
  /* z-index: 10000; */
  padding-bottom: 100px;
  /* position: relative; */
  width: 100%;
  /* overflow: hidden; */
  /* height: 220vh; */
}

.wrapper {
  /* position: absolute; */
  display: flex;
  /* z-index: 100000; */
}

.home-section {
  /* z-index: 10000; */
  width: 100%;
  display: flex;
  animation: swipe linear 20000ms infinite backwards;
  background: red;
}
